<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" aria-current="page" href="index.php?pg=listaDeCompras"
            id="shop">
            <span class="p-2"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></span>
            Lista de Compras
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>